
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>Hola mundo desde el controlador </h1>
        @Html.ActionLink("Listado de productos", "ListadoProductos", "Productos")
    </div>
</body>
</html>
