
@{
    ViewBag.Title = "Index";
}

<h2>CRUD de personas - Sistemas de Gestión Empresarial</h2>

<h5>Ejercicio 3 Unidad 10, la finalidad de este ejercicio es crear un CRUD de personas, cuyos datos estaran almacenados en una BD en Azure.</h5>

@Html.ActionLink("1.- Acceder al listado de personas", "listado", "personas")

