
@{
    ViewBag.Title = "Index";
}

<h2>ADONet Ejercicio 1</h2>

<form action="/Home/Index" method="post">

    <input type="submit" value="Conectar" />
    <br />
    <div>
        <label>@ViewBag.ConexionBD</label>
    </div>

</form>



